.btn-menu {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-weight: 500;
    color:  #FF5A60;
    padding: 0px 25px 0px 25px;
}

.btn-menu:disable {
    color: #EAEAEA;
}