.form-section{
    display: flex;
    
}

.image-log{
    width: 40%;
    background-color: aqua;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 0px auto;
}


.social-icons-section{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
}

