.main-account-form{
    height: 100vh;
    overflow: hidden;
}

.form-section{
    display: flex;
    height: 100vh;
    
}

.image-log{
    width: 40%;
    overflow: hidden;
   
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto 0px auto;
}


.social-icons-section{
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
}

hr{
    margin: 0px;
    padding: 0px;
    opacity: .3;
  }



  @media only screen and (max-width: 375px) {
    .image-log {
        display: none;
      }

    .form-box{
        width: 80%;
    }
  }
