section{
    align-items: center;
    display: flex;
    justify-content: space-between;
    
}

.menu-section{
    display: flex;
}


@media only screen and (max-width: 375px) {
    .menu-section{
        display: none;
    }

    section{
        justify-content: center;
    }
  }

